## Тестирование функции worktime.worktime
Собрано несколько разных случаев, проверим, что скрипт будет выдавать.

In [1]:
from time_vktrbr.worktime import *

schedule_raw = pd.read_excel('worktime-test-example.xlsx', sheet_name='Расписание',
                             dtype={'Начало рабочего дня': str, 'Конец рабочего дня': str})

steps = pd.read_excel('worktime-test-example.xlsx', sheet_name='Случаи')
schedule_raw

,ID работника,День,Начало рабочего дня,Конец рабочего дня,Рабочий день
0,1,2022-04-29,09:00:00,16:45:00,True
1,1,2022-04-30,NaN,NaN,False
2,1,2022-05-01,NaN,NaN,False
3,1,2022-05-02,NaN,NaN,False
4,1,2022-05-03,NaN,NaN,False
5,1,2022-05-04,09:00:00,18:00:00,True
6,1,2022-05-05,09:00:00,18:00:00,True
7,1,2022-05-06,09:00:00,16:45:00,True
8,1,2022-05-07,NaN,NaN,False
9,1,2022-05-08,NaN,NaN,False
10,1,2022-05-09,NaN,NaN,False
11,1,2022-05-10,09:00:00,18:00:00,True

In [2]:
sch = convert_data(schedule_raw, 'День', 'Начало рабочего дня', 'Конец рабочего дня', 'Рабочий день')

for i in range(len(steps)):
    dt = worktime(steps.loc[i, 'Степ 1'], steps.loc[i, 'Степ 2'], sch)
    steps.loc[i, 'Рабочее время'] = str(dt.round('s'))
    steps.loc[i, 'Рабочее время в секундах'] = round(dt.total_seconds())

In [3]:
steps.to_excel('worktime-after-test.xlsx', index=False, sheet_name='Случаи')
steps

,ID работника,Степ 1,Степ 2,Рабочее время,Рабочее время в секундах,Особенность
0,1,2022-05-04 12:25:00,2022-05-04 12:35:00.000,0 days 00:10:00,600.0,Обычный рабочий день
1,1,2022-05-04 12:25:00,2022-05-05 12:34:59.995,0 days 09:10:00,33000.0,Степ 2 на следующий рабочий день
2,1,2022-05-04 12:25:00,2022-05-06 12:34:59.990,0 days 18:10:00,65400.0,Степ 2 через один рабочий день
3,1,2022-04-29 15:35:00,2022-05-04 13:45:00.000,0 days 05:55:00,21300.0,Степ 2 через выходные дни
4,1,2022-05-04 08:25:00,2022-05-04 12:35:00.000,0 days 04:10:00,15000.0,Степ 1 начался раньше расписания
5,1,2022-05-04 08:25:00,2022-05-05 12:35:00.000,0 days 13:10:00,47400.0,Степ 1 начался раньше расписания и Степ 2 зако...
6,1,2022-05-04 08:25:00,2022-05-04 19:35:00.000,0 days 11:10:00,40200.0,Степ 1 начался раньше расписания и Степ 2 зако...
7,1,2022-05-04 08:25:00,2022-05-06 19:35:00.000,1 days 05:10:00,105000.0,Степ 1 начался раньше расписания и Степ 2 зако...
8,1,2022-05-04 14:25:00,2022-05-05 08:35:00.000,0 days 03:35:00,12900.0,Степ 2 закончился на следующий день до начала ...
9,1,2022-05-04 14:25:00,2022-05-05 00:05:00.000,0 days 03:35:00,12900.0,Степ 2 закончился на следующий день очень рано...